#menutext{
  display:inline;
  position: absolute;
  margin-right: 80px;
}

#navbar-top{
  height:25px;
  background-image: url('../img/orange.jpg');
  color:#ffffff;
  border-radius: 0px;
}

#conttop{
  float: right;
  padding-right:5px;
}

#sprmtext{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 22px;
  display: inline;
  letter-spacing: 3px;
}

#db{
  height:40px;
  width:50px;
}

body{
  padding-bottom: 25px;
  height:100%;
}

#mid-bar{
  display: inline;
}

#top-btn{
  background:none;
  color:#000000;
  border-radius: 0px;
  border-width: 2px;
  border-color: #000000;
  transition: all 0.3s;
}

#top-btn:hover{
  background-color: #585858;
  color:#ffffff;
  border-radius: 10px;
}

#main-cont{
  padding-left: 0px;
  padding-right: 12px;
  padding-bottom: 770px;

}

#username{
  float: right;
  padding-top: 20px;
  padding-right: 5px;
}

#sprmemail{
  display: inline;
}

#sprmphone{
  display: inline;
}

#top-dropdown{
  height:25px;
}

#spantext{
  position: absolute;
  width: 100%;
}

#dashboard{
padding-bottom: 3px;
position: relative;
}

#rfid{
padding-bottom: 3px;
}

#paper{
padding-bottom: 3px;
}

#folder{
padding-bottom: 3px;
}

#peng-sistem{
padding-bottom: 3px;
}

#pergrfid{
padding-bottom: 3px;
}



#dbicon{
  height:80px;
  width:130px;
  border-radius: 0px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s;
}


#spantext span{
  color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

#dbicon:hover{
  transform: scale(0.9);
  opacity: 0.8;

}

#rfidicon{
  height:80px;
  width:130px;
  border-radius:0px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s;
  display: inline;
}

#rfidicon:hover{
  transform: scale(0.9);
  opacity: 0.8;
}

#papericon{
  height:80px;
  width:130px;
  border-radius: 0px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s;
  display: inline;
}

#papericon:hover{
  transform: scale(0.9);
  opacity: 0.8;
}

#foldericon{
  height:80px;
  width:130px;
  border-radius: 0px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s;
  display: inline;
}

#foldericon:hover{
  transform: scale(0.9);
  opacity: 0.8;
}

#sistemicon{
  height:80px;
  width:130px;
  border-radius: 0px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s;
  display: inline;
}

#sistemicon:hover{
  transform: scale(0.9);
  opacity: 0.8;
}

#pergrfidicon{
  height:80px;
  width:130px;
  border-radius: 0px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s;
  display: inline;
}

#pergrfidicon:hover{
  transform: scale(0.9);
  opacity: 0.8;
}

#nametext{
margin-top:-5px;
}

#top-dropdown{
  background: none;
  color: #000000;
}

#navbar-mid{
  height:70px;
  border-radius: 0px;
  background-image: url('../img/white.jpg');
}

#nav-footer{
  border-radius: 0px;
   position:fixed;
   bottom:0;
   width:100%;
   height:25px;
   background-image: url('../img/orange.jpg');
}

#sprmlogo{
  height:70px;
  width:70px;
}

#menutitle{
  background-color: #585858;
  color: #ffffff;
  text-align: center;
  width:130px;
}

#rightbar{
 margin-left: -30px;
}

#leftbar{
  /*background-color: #d3d3d3;*/
  height: 100%;
  width:170px;
}

#beritatitle{
  font-size: 20px;
  padding-top: 3px;
  color: #ffffff;
  text-align: center;
  padding-left: 50px;
  background-color: #bfbfbf;
}


#beritahead{
  background-color:#e6e6e6;
  border-color: #666666;
  border-bottom: none;
  border-width: 1px;
  height:45px;
  width:300px;
  text-align: center;
}

#beritahead:hover{

}

#beritahead h5{
  padding-top: 12px;
  font-family:monospace;
  font-weight: bold;
  display: inline;
}

#berita-cont{
  display: inline;
  padding-left: 5px;
}

#btn-berita{
 font-weight: bold;
 height: 40px;
 width:300px;
 background: #3acf87;
 border-color: #3acf87;
 color:#ffffff;
 border-radius: 0px;
 transition: all 0.3s;
 display: inline;
}

#btn-berita:hover{
color:#ffffff;
background-color:#d3d3d3;
border-color:#d3d3d3;
}

#midbar{
  padding-top: 20px;
}

#myCarousel{
  background-color: #e6e6e6;
  width:100%;
  height:70px;
}

#carou1{
  width:100%;
  height:70px;
}

#pengumuman-text{
padding-top: 10px;
font-weight: bold;
}

.carousel-indicators{
  margin-bottom:-20px;
}

#spancarou{
  position: relative;
  font-size: 100px;
}

#main-cont-top{
  width:100%;
  height:500px;
}

#main-cont-bot{
 margin-left: 100px;
}

#sen-tind{
  display:none;
}

#noti-gantr{
  display:none;
}

#papar-stat{
  display:none;
}

#jana-rfid{
  display: none;
}

#daf-seal{
  display: none;
}

#makl-ks{
  display: none;
}

#rfid-hilang{
  display: none;
}

#pend-kskus{
  display: none;
}

#pinj-kskus{
  display: none;
}

#pemb-kskus{
display: none;
}

#pemul-eks{
  display: none;
}

#jana-laporan{
  display: none;
}

#peng-pengguna{
  display: none;
}

#peng-gantry{
  display: none;
}

#peng-kal{
  display: none;
}

#keluar{
  display: none;
}

#masuk{
  display: none;
}

#lu{

}

#main{

}

#acc-info{
height:140px;
width:250px;
}

#acc-info-head{
  text-align: center;
  font-size: 16px;
  background-color: #404040;
  height:22px;
  color:#ffffff;
}

#acc-info-body{
  border-color: #999999;
  border-style: solid;
  height:169px;
  text-align: center;
  border-top: none;
}

#acc-overview{
  height:140px;
  width:250px;
}

#acc-overview-head{
  text-align: center;
  font-size: 16px;
  background-color: #404040;
  height:22px;
  color:#ffffff;
}

#acc-overview-body{
  border-color: #999999;
  border-style: solid;
  height:169px;
  border-top: none;
}

#top-nav{
  background-color: #404040;
}

.dropdown-toggle{
  color:#000000;
}

#main-right{
  float: right;
}

#acc-info-footer{
  background-color: #b3b3b3;
}

#update-det{
  background: none;
  border-radius: 0px;
  border-color: #000000;
  color: #000000;
  width:100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-width: 2px;
  transition:all 0.3s;
}

#update-det:hover{
  background-color: #595959;
  color:#ffffff;
}

a{
  color:#000000;
  /*font-family: myfont;*/
  transition: all 0.3s;
}

a:hover{
  color:#ff8000;
  text-decoration: none !important;
}

a:focus{
  color:#ff8000;
  text-decoration: none !important;
}

#barrfid,#barkskus,#barlaporan,#barpengsis,#barpergrfid,#barsearch,#barksaktif,#barexhibit{
  /*background-color: #eaa808;*/
  background-color: #fad785;
}

#1:hover{
  background-color: #000000;
}

#spe-nav{
  height:140px;
  /*width:1330px;*/
  /*background-image: url('../img/bannersprm5.png');*/
  background-repeat: no-repeat;
  padding-bottom: 20px;
  background-color: #fbd372;
  width:100%;
  /*height: 100%;*/
}

#page-wrapper{
  height:10px;
}

#spetoptext{
  padding-top: 55px;
  padding-left: 155px;
  font-size: 35px;
  letter-spacing: 3px;
  color:#000000;
  font-family: myfont;
}

.page-header{
  font-family: myfont;
}

#box1{
transition:all 0.3s ease-in-out;
}

#box1:hover{
transform: scale(1.1)
}

#side-menu{

}

#topbanner{
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 84px;
  padding-right: 34px;
  height:140px;
  width: 100%;
  background-image: url('../img/bannersprm2.jpg');
  background-position: center;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}
.alert-error hr {
    border-top-color: #e4b9c0
}
.alert-error .alert-link {
    color: #843534
}

/*diwang*/
#side-bar {
  font-family: myfont;
  color:black !important;
}

#side-bar a {
  color:black;
}

.panel-title {
    font-size: 12px !important;
}

#dashboard-menu {
  font-family: myfont;
}

.panel-heading-notify {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    background-image: linear-gradient(to bottom, #337ab7 0px, #2e6da4 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 15px;
    margin-bottom: 0px;
}

.panel-notify {
    margin-bottom: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

.panel-heading-ks {

    padding: 1px 1px;
    margin-bottom: 1px;
}
.panel-primary > .panel-heading-ks {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;

}

.panel-heading-kskus {

    padding: 1px 1px;
    margin-bottom: 1px;
}

.panel-green > .panel-heading-kskus {
  border-radius: 5px;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  /*border-color: #337ab7;*/
}

.panel-heading-eksibit {

    padding: 1px 1px;
    margin-bottom: 1px;
}

.panel-red > .panel-heading-eksibit {
  border-radius: 5px;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

/*------ profile box---- */
.box-body {
    border-radius: 0 0 3px 3px;
    padding: 10px;
}

.profile-user-img {
    border: 3px solid #d2d6de;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}

.img-circle {
    border-radius: 50%;
}
.profile-username {
    font-size: 21px;
    margin-top: 5px;
}

.navbar-right {
    float: right !important;
    margin-right: 0px !important;
}

/*tambahan sprm- diwang*/
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 0px;
    left: -94px !important;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 0 !important;
    padding: 15px;
}

.responsive-calendar a{
   color:grey;
}

/*.panel-yellow {
  border-color: #f0ad4e !important;
}

.panel-green {
  border-color: #5cb85c !important;
}

.panel-red {
  border-color: #d9534f !important;
}*/

/*#ff0000 - merah

#ffcc00 - kuning

#0000ff - biru*/


