#mainbody{
 /*background-image: url('../img/img2.jpg');*/
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-color: #fff;
}

/*body {
    background-color: #848484 !important;
}
*/
@font-face {
  font-family: myfont2;
  src: url('../font/Caviar_Dreams_Bold.ttf');
}

@font-face {
  font-family: myfont;
  src: url('../font/Prototype.ttf');
}

#toplogonav{
  text-align: center;
  height:80px;
  padding-bottom: 70px;
}

#title{
  display: inline;
  color:#000000;
  font-size: 30px;
  letter-spacing: 7px;
  float: center;
  padding-left: 10px;
  font-family: myfont2;
}

#toplogo{
  height:150px;
  width:150px;
  padding-right: 10px;
  padding-top: 8px;
}

#leftpic{
  height:260px;
  width:490px;
  border-radius: 10px;
  border:2px solid;
  border-color: #000000;
}

#login-pic{

}

#loginbox{
  text-align: center;
  border:0px solid;
  border-radius: 10px;
  border-color: #000000;
  height:260px;
  width:490px;
  background-size: 230px 230px;
  background-repeat: no-repeat;
  background-position: center;
}

#loginbox-head{
  border-bottom: 1px solid;
  padding-top: 7px;
  font-size: 27px;
  height:50px;
  font-family: myfont2;
  letter-spacing: 5px;
  background-size: 100%;
  width:100%;
  color:#000000;
}

#loginbox-body{
  padding-top: 20px;
  height:180px;
  border-top: none;
}

#loginbox-footer{
  border-color: #000000;
  border: 1px solid;
  padding-bottom: 10px;
  height:20px;
}

#loginwrapper{
  text-align: center;
}

#username,#pword{
  width:260px;
}

#login-btn{
  padding-top: 5px;
  color:#000000;
  background:none;
  font-weight: bold;
  width:100px;
  border-radius: 0px;
  transition: all 0.5s;
  border:2px solid #666666;
}

#login-btn:hover{
  background-color: #d3d3d3;
}

#kskus-btn{
  width:220px;
  height:36px;
  background: none;
  border:2px solid #666666;
  color:#000000;
  border-radius: 0px;
  font-weight: bold;
  transition: all 0.3s;
}

#kskus-btn:hover{
 background-color: #d3d3d3;
}

#container{
  background-image: url('../img/white2.png');
  height:370px;
  width:77%;
  padding-top: 13px;
  border: 0px;
  border-radius: 10px;
  padding-left: 50px;
  box-shadow: 10px 10px 5px #000000;
}

#sprmtitle{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color:#000000;
  text-transform: uppercase;
}

#sistemtitle{
  width:1px;
}

#ems {
    height: 60px;
    margin-left: 190px;
    width: 130px;
}
